body {background: #f90 url(css/wasp_top_right.gif) top right no-repeat fixed ;
color: black;}

h2 {margin: 0; padding: 0;}

h5 {font-weight: normal; font-style: normal; font-size: 12px; font-family: verdana, arial, helvetica, sans-serif; line-height: 1.5; margin-top: 1em; margin-bottom: 0; padding-left: 40px; padding-bottom: 0.5em;}

A:hover {color: #f60; background-color: transparent; text-decoration: underline;}

P {margin-top: 0; margin-bottom: 2em; padding-top: 0; }

.menudo {font-size: 13px; padding: 10px;}

.menudo a:hover {color: #ffc;}
